language: python
os: linux
dist: focal
stages:
  - test
  - name: deploy
jobs:
  include:
    - stage: test
      language: python
      dist: focal
      python: 3.6
      install:
      - pip install -r requirements.txt
      - pip install -r requirements_dev.txt
      - pip install .
      script:
      - pytest
      - black .
      after_success: coveralls
    - stage: test
      language: python
      dist: focal
      python: 3.7
      install:
      - pip install -r requirements.txt
      - pip install -r requirements_dev.txt
      - pip install .
      script:
      - pytest
      - black .
      after_success: coveralls
    - stage: test
      language: python
      dist: focal
      python: 3.8
      install:
      - pip install -r requirements.txt
      - pip install -r requirements_dev.txt
      - pip install .
      script:
      - pytest
      - black .
      after_success: coveralls
    - stage: test
      language: python
      dist: focal
      python: pypy3
      install:
      - pip install -r requirements.txt
      - pip install -r requirements_dev_pypy.txt
      - pip install .
      script:
      - pytest
      after_success: coveralls
    - stage: deploy
      if: tag IS present
      deploy:
        provider: pypi
        username: "__token__"
        password:
          secure: pypi-AgEIcHlwaS5vcmcCJGRlMTI5OGUyLTljN2MtNDZmMS1hOGU4LWU3NzBhOGRhN2UzNQACNnsicGVybWlzc2lvbnMiOiB7InByb2plY3RzIjogWyJweW50bSJdfSwgInZlcnNpb24iOiAxfQAABiBZDhveEmG0QAjuONYIJclL5VtfABiUsVhqOtbSLbWQjg
        skip_existing: true
        distributions: "sdist bdist_wheel"
